@model IEnumerable<MvcUniversity.Models.Student>

<div class="category-wrapper">
    <div class="container">
        <div class="row py-2">
            <div class="col-6">
                <h2 class="text-primary">Student List</h2>
            </div>
            <div class="col-6">
                <a class="btn btn-primary" asp-controller="Students" asp-action="AddStudent">
                   Add New Student
                </a>
            </div>
        </div>
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>LRN</th>
                        <th>Fullname</th>
                        <th>Course</th>
                        <th>Year</th>
                        <th>Section</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var studObj in Model)
                    {
                    <tr>
                        <td width="10%">@studObj.StudLRN</td>
                        <td width="40%">@studObj.FullName</td>
                        <td width="10%">@studObj.StudCourse</td>
                        <td width="10%">@studObj.StudYear</td>
                        <td width="10%">@studObj.StudSection</td>
                        <td width="20%" class="text-center">
                            <div class="btn-group" role="group">
                            <a class="btn btn-info mx-1" asp-route-id="@studObj.id" asp-controller="Students" asp-action="Edit">Edit</a>
                            <a class="btn btn-danger mx-1" asp-route-id="@studObj.id" asp-controller="Students" asp-action="Delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No category found</p>
        }
    </div>
</div>